{% extends 'main.html' %}

{% block title %}About page {% endblock %}

{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-about-us-area">

            <div class="mu-title">
              <h2>ABOUT US</h2>
            </div>

            <div class="row">
              <div class="col-md-6">
               <div class="mu-about-us-left">     
                <img src="/static/img/lightbulb.png" width="400px" alt="img">           
                </div>
              </div>
              <div class="col-md-6">
                 <div class="mu-about-us-right">
                 <p>This project examines user input on restaurants to determine their next restaurant destination. The features examined are:
                 </p>

                 <code>
                  - The restaurant's cuisine<br>
                  - An image from the restaurant's YELP page<br>  
                  - The restaurant's price range<br>  
                  - The restaurant's rating<br>  
                  - Whether the restaurant allows reservations<br>  
                  - Whether the restaurant delivers<br>  
                </code>                              
                  <p>&nbsp;</p>
                  <p>The user will then choose whether they would order food from the restaurant displayed and based on 5 - 10 decisions from the user, we will use machine learning to determine the best restaurant for the user.</p>
                  
                  <p>Our algorithm will be built on previous answers and response, getting more accurate over time.</p>  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}