{% extends 'main.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
  <div class="jumbotron" id="cover">
    <div class="container">
      <h1>your next stop</h1>
      <p class="site-description indent">
        Want to know where your next food stop could likely be.
        <br>
        Are you up for the challenge? Let's begin your adventure!
        <!-- Answer some simple questions and start your adventure! -->
      </p>
      <p class="indent">
        {% if session.get('current_user') %}                  
          <a class="btn btn-primary btn-lg btn-homepage btn-font" href="/requestpage" role="button"><span class="fa fa-cutlery" aria-hidden="true"></span> Begin</a>
        {% else %}
          <a class="btn btn-primary btn-lg btn-homepage btn-font" href="/signup" role="button"><span class="fa fa-user-plus" aria-hidden="true"></span> Sign up</a>
          <a class="btn btn-primary btn-lg btn-homepage btn-font" href="/login" role="button"><span class="fa fa-sign-in" aria-hidden="true"></span> Login</a>
        {% endif %}
      </p>      
    </div><!-- /.container -->
  </div><!-- /.jumbotron -->  
{% endblock %}