{% extends 'main.html' %}

{% block title %}Team Page{% endblock %}

{% block content %}

<div class="container" id="main-section"> 
    <h1>Team</h1>

    <h2>Data Scientists</h2>
    
    <div class="col-md-3">
      <img src="/static/img/lizette.jpg" width="200px" height="200px" alt="Lizette img"><br>
      <h3><a href="https://www.linkedin.com/in/maria-e-leano-35a41a116/" target="_blank">Lizette Leano</a></h3> 
    </div>

    <div class="col-md-3">
      <img src="/static/img/sharanya.jpg" width="200px" alt="Sharanya img"><br>
      <h3><a href="https://www.linkedin.com/in/sharanya-banavar/" target="_blank">Sharanya Banavar</a></h3>
    </div>

    <div class="col-md-3">
      <img src="/static/img/ruchi.jpg" width="200px" alt="Ruchi img"><br>
      <h3><a href="https://www.linkedin.com/in/ruchichandra26/" target="_blank">Ruchi Chandra</a></h3>
    </div>
    
    <div class="col-md-3">
      <img src="/static/img/andy.jpg" width="200px" alt="Andy img"><br>
      <h3><a href="https://www.linkedin.com/in/andyoh/" target="_blank">Andy Oh</a></h3>
    </div>

	</div>

{% endblock %}
