.mBox {
    margin-left: 25px;
    padding-bottom: 25px;
    background-color: #eee;
}

.mBox img {
    margin-bottom: 25px;
}

.vBox {
    margin-left: 25px;
    background-color: #eee;
    padding-bottom: 25px;
}

.vBox img {
    width: 200px;
    margin: 5px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: black;
}

.container .text-muted {
    margin: 20px 0;
    text-align: center;
    font-weight: bold;
    color: white;
}